.container {
    display: flex;
    align-items: center;
    color: blue;
    
}
.btn {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    top: 10px;
    right: 10px;
    position: absolute;
}
.box1 {
   display: flex; 
   align-items: center;
   gap: 20px;
}
.container1 {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;  
    gap: 20px;
}
.item {
    background-color: red;
    gap: 15px;
    color: white;
    justify-content: center;
}
.item .button {
    background-color: white;
    text-align: center;
    color: red;
    padding: 10px;
}