.container {
    display: flex;
    align-items: center;
    color: blue;
    font-size: small;
    
}
.container p {
    margin-left: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
}
.container h1 {
    font-family: monospace;
    font-weight: bolder;
    font-style:oblique;
}
.btn {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    top: 10px;
    right: 10px;
    margin: 0 auto;
    margin-left: 350px;
    }
.box1 {
   display: flex; 
   align-items: center;
   gap: 20px;
}
.container1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);

    gap: 10px;
}
.item {
    background-color: red;
    gap: 15px;
    color: white;
    justify-content: center;
    text-align: center;
}
.item button {
    background-color: white;
    text-align: center;
    color: red;
    margin: 10px
}
.container2 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.item1 {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}
hr + p {
    color: red;
    text-align: center;
}
.container3 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: lightgray;
    gap: 20px;
    margin-top: 20px;
}
.item2 img {
    margin-left: 100px;
    width: 300px;
    align-items: center;
    
}
.item2 p  {
    margin-left: 100px;
}
.item2 h1 {
    margin-left: 100px;
}

.flex {
    display: flex;

}
.flex ~ img {
   margin-left: 350px;
}
.flex img{
    width: 100px;

}


